당신은 세상의 다양한 창작자들을 도와주기 위해 랜덤 키워드 프로그램을 만들려고 한다. 당신은 여러가지의 키워드를 선별하여 랜덤으로 추출하는 프로그램을 만들려고 한다. 당신은 프로그램을 만들기에 앞서, 키워드를 취합하기로 했다.

키워드는 다음과 같은 카테고리가 있다.
- 캐릭터
- 배경 스토리
- 기타

카테고리의 안에는 서브 카테고리가 있으며 이 서브 카테고리의 안에 많은 키워드가 들어가도록 구성하려고 한다. 아래에는 각 카테고리의 서브 카테고리를 나열한다.

[캐릭터 카테고리]
- 성향가치관(DND 시리즈의 성향)
- 긍정적 성격 / 부정적 성격
- 캐릭터 유형
- 젠더
- 종족
- 캐릭터 역할
- 초능력
- 무기
- 특징(패션컨셉 등등을 포함함)
- 신분
- 현실 직업
- 가상 직업(판타지 등)